.footer{
    width: 100%;
    min-height: 70px;
    background-color: rgba(23,4,56, .5);
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 0;
    margin-top: 5%;
    z-index: -100;
}

